{% load static %}

      <!-- Section Content -->
      <section id="home" class="">
        <div class="container">
          <div class="row">
                                  <div class="col-md-6 col-lg-6 g-overflow-hidden">
              <img class="img-fluid" height="540"
            src="{% static 'images/web_photo5_2x.png' %}" alt="Image Description" 
                alt="Image description"
                   data-animation="slideInUp">
            </div>
            <div class="col-md-6 col-lg-5 ml-lg-auto d-flex text-center text-md-left g-font-size-16">
              <div class="align-self-center">
                <h2 class="text-uppercase g-line-height-1_3 g-font-size-36 g-mb-20 g-mb-30--lg g-color-primary"><strong>Dabi<br/>Tủ đồ đặc biệt của nữ</strong></h2>
                <a href="https://apps.apple.com/vn/app/dabi/id1476368502" class="btn btn-md u-btn-primary g-font-weight-700 text-uppercase text-left g-rounded-10 g-py-10 g-mb-15 g-mx-10 g-mx-0--md g-mr-30--md">
                  <span class="float-right g-font-size-13">
                    TẢI APP
                    <span class="d-block g-font-size-10 g-font-weight-400 g-opacity-0_6">Từ App Store</span>
                  </span>
                  <i class="fa fa-apple float-left g-font-size-26 g-mr-15"></i>
                </a>
                <a href="http://bit.ly/3dGKROm" class="btn btn-md u-btn-darkpurple g-font-weight-700 text-uppercase text-left g-rounded-10 g-py-10 g-mb-15 g-mx-10 g-mx-0--md">
                  <span class="float-right g-font-size-13">
                    TẢI APP
                    <span class="d-block g-font-size-10 g-font-weight-400 g-opacity-0_6">Từ Play Market</span>
                  </span>
                  <i class="fa fa-android float-left g-font-size-26 g-mr-15"></i>
                </a>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- End Section Content -->