{% load static %}

      <!-- Section Content -->
      <section id="home" class="g-theme-bg-gray-light-v1 g-pt-90 g-pb-60">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5 ml-lg-auto d-flex text-center text-md-left g-font-size-16">
              <div class="align-self-center">
                <h2 class="text-uppercase g-line-height-1_3 g-font-size-36 g-mb-20 g-mb-30--lg"><strong>Xem và mua sắm tại DABI - nơi tập hợp thời trang phái NỮ</strong></h2>
                <p class="g-mb-20 g-mb-35--lg">Dabi sẽ cung cấp đến các bạn thông tin của những bộ trang phục đa dạng bằng dịch vụ thương mại thời trang kết nối trung gian với các cửa hàng hot nhất</p>
                <a href="https://apps.apple.com/vn/app/dabi/id1476368502" class="btn btn-md u-btn-primary g-font-weight-700 text-uppercase text-left g-rounded-10 g-py-10 g-mb-15 g-mx-10 g-mx-0--md g-mr-30--md">
                  <span class="float-right g-font-size-13">
TẢI APP
                    <span class="d-block g-font-size-10 g-font-weight-400 g-opacity-0_6">Từ App Store</span>
                  </span>
                                                <img class=" g-mr-15" height="26"
                             src="{% static 'images/web_icon1_2x.png' %}"
                      alt="Image description">     
                </a>
                <a href="http://bit.ly/3dGKROm" class="btn btn-md u-btn-darkpurple g-font-weight-700 text-uppercase text-left g-rounded-10 g-py-10 g-mb-15 g-mx-10 g-mx-0--md">
                  <span class="float-right g-font-size-13">
TẢI APP
                    <span class="d-block g-font-size-10 g-font-weight-400 g-opacity-0_6">Từ Play Market</span>
                  </span>
                                                <img class=" g-mr-15" height="26"
                             src="{% static 'images/web_icon2_2x.png' %}"
                      alt="Image description">                    </a>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 g-overflow-hidden">
              <img class="img-fluid" height="540" src="{% static 'images/web_photo1_2x.png' %}" alt="Image description"
                   data-animation="slideInUp">
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->