{% load static %}

      <!-- Section Content -->
      <section id="home" class="">
        <div class="container">
          <div class="row">
                      <div class="col-md-6 col-lg-6 g-overflow-hidden">
              <img class="img-fluid" height="540"
            src="{% static 'images/web_photo2_2x.png' %}" alt="Image Description" 
                alt="Image description"
                   data-animation="slideInUp">
            </div>
            <div class="col-md-6 col-lg-5 ml-lg-auto d-flex text-center text-md-left g-font-size-16">
              <div class="align-self-center">
                <h2 class="text-uppercase g-line-height-1_3 g-font-size-24 g-mb-20 g-mb-30--lg">
    Chọn lọc cửa hàng<br/>
<strong>UY TÍN và CHẤT LƯỢNG nhất</strong></h2>
                <p class="g-mb-20 g-mb-35--lg">Dabi trực tiếp lựa chọn những cửa hàng hàng đầu cho thấy độ tin cậy cao. Hãy tin tưởng và đến mua sắm tại Dabi nhé </p>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- End Section Content -->