{% load static %}
      <!-- Section Content -->
      <section id="benefits" class="g-py-90 g-theme-bg-gray-light-v1 ">
        <div class="container">
          <!-- Row -->
          <div class="row">
            <div class="col-md-6 col-lg-4 g-mb-30">
              <div class="text-center g-bg-white g-py-40 g-px-30"
                   data-animation="fadeIn"
                   data-animation-duration="1500">
                              <img class="g-mb-20" height="100"
                             src="{% static 'images/web_icon3_2x.png' %}"
                      alt="Image description">
                <h4 class="text-uppercase g-font-weight-700 g-font-size-14 g-color-black g-mb-20">Đánh giá sản phẩm
                </h4>
                <p class="mb-0">Hãy chia sẻ những đánh giá thực tế nhất của sản phẩm nhé</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <div class="text-center g-bg-white g-py-40 g-px-30"
                   data-animation="fadeIn"
                   data-animation-delay="300"
                   data-animation-duration="1500">
                              <img class="g-mb-20" height="100"
                             src="{% static 'images/web_icon4_2x.png' %}"
                      alt="Image description">              
                      <h4 class="text-uppercase g-font-weight-700 g-font-size-14 g-color-black g-mb-20">Bộ lọc style</h4>
                <p class="mb-0">Các bạn chỉ cần chọn những sản phẩm mình muốn thông qua bộ lọc style</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <div class="text-center g-bg-white g-py-40 g-px-30"
                   data-animation="fadeIn"
                   data-animation-delay="500"
                   data-animation-duration="1500">
                              <img class="g-mb-20" height="100"
                             src="{% static 'images/web_icon5_2x.png' %}"
                      alt="Image description">                
                      <h4 class="text-uppercase g-font-weight-700 g-font-size-14 g-color-black g-mb-20">Phân tích style</h4>
                <p class="mb-0">Thông qua các lựa chọn, hãy tìm style của bạn nhé</p>
              </div>
            </div>

          <!-- End Row -->
        </div>
      </section>
      <!-- End Section Content -->
