{% load static %}

      <!-- Section Content -->
      <section id="home" class="g-bg-primary-dark-v2">
        <div class="container">
          <div class="row">

            <div class="col-md-6 col-lg-5 ml-lg-auto d-flex text-center text-md-left g-font-size-16 g-color-white">
              <div class="align-self-center">
                <h2 class="text-uppercase g-line-height-1_3 g-font-size-24 g-mb-20 g-mb-30--lg g-color-white"><strong>500 sản phẩm mới</strong><br>được cập nhật mỗi ngày</h2>
                <p class="g-mb-20 g-mb-35--lg">Việc cập nhật liên tục các sản phẩm mỗi ngày có thể giúp bạn tận hưởng các xu hướng thời trang mới nhất một cách nhanh chóng và không hề nhàm chán</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 g-overflow-hidden">
              <img class="img-fluid"
                  src="{% static 'images/web_photo3_2x.png' %}" alt="Image Description" 
                   data-animation="slideInUp">
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->