<div id="core-value-section" class="g-overflow-hidden">
    <div class="container g-pt-100">
      <!-- Heading -->
      <div class="g-max-width-550 text-center mx-auto g-mb-100">
        <h1 class="text-uppercase g-color-main-light-v1 g-font-weight-600 g-font-size-13 g-letter-spacing-2 mb-4">core-value</h1>
        <p class="g-font-size-16">Unify creative technology company providing key digital services. Focused on helping our clients to build a successful business on web and mobile.</p>
      </div>
<!-- Icon Blocks -->
<ul class="row list-inline u-info-v9-1 g-pb-70 mb-0">
  <li class="col-md-4 list-inline-item g-mx-0 g-mb-30">
    <!-- Icon Blocks -->
    <div class="u-block-hover text-center g-px-40">
      <div class="g-mb-5">
        <span
          class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle"
        >
          <i class="icon-transport-017 u-line-icon-pro"></i>
        </span>
      </div>
      <div class="g-mb-25">
            <span
            class="u-icon-v2 u-shadow-v22 g-width-25 g-height-25 g-color-white g-bg-primary g-font-size-9 rounded-circle"
          >
            <i class="fa fa-check"></i>
          </span>
      </div>
      <h3
        class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3"
      >
        <span class="g-color-main g-font-weight-700">01.</span>
        passion
      </h3>
      <p>
        Based on strong desire for our vision,         
        we're motivated to achieve our goal and always strive for excellence.
      </p>
    </div>
    <!-- End Icon Blocks -->
  </li>

  <li class="col-md-4 list-inline-item g-mx-0 g-mb-30">
    <!-- Icon Blocks -->
    <div class="u-block-hover text-center g-px-40">
      <div class="g-mb-5">
        <span
          class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle"
        >
          <i class="icon-education-073 u-line-icon-pro"></i>
        </span>
      </div>
      <div class="g-mb-25">
        <span
          class="u-icon-v2 u-shadow-v22 g-width-25 g-height-25 g-color-white g-bg-primary g-font-size-9 rounded-circle"
        >
          <i class="fa fa-check"></i>
        </span>
      </div>
      <h3
        class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3"
      >
        <span class="g-color-main g-font-weight-700">02.</span>
        Aggressive Execution
      </h3>
      <p>
        Without fear of failure, <br/>we always exert rapid decision making and aggressive executive ability.
      </p>
    </div>
    <!-- End Icon Blocks -->
  </li>

  <li class="col-md-4 list-inline-item g-mx-0 g-mb-30">
    <!-- Icon Blocks -->
    <div class="u-block-hover text-center g-px-40">
      <div class="g-mb-5">
        <span
          class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle"
        >
          <i class="icon-communication-180 u-line-icon-pro"></i>
        </span>
      </div>
      <div class="g-mb-25">
            <span
            class="u-icon-v2 u-shadow-v22 g-width-25 g-height-25 g-color-white g-bg-primary g-font-size-9 rounded-circle"
          >
            <i class="fa fa-check"></i>
          </span>
      </div>
      <h3
        class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3"
      >
        <span class="g-color-main g-font-weight-700">03.</span>
        Teamwork
      </h3>
      <p>
        As one team with shared goals,<br/> we can achieve great things. <br />
        We recognise, respect and value diversity in the team.   </p>
    </div>
    <!-- End Icon Blocks -->
  </li>
</ul>
<!-- End Icon Blocks -->
</div>
</div>
</div>
<!-- End core-value -->