<div
  class="dzsparallaxer auto-init height-is-based-on-content use-loading"
  data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'
>
  <div
    class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_6--after"
    style="height: 130%; background-image: url(assets/img-temp/1920x1080/img5.jpg);"
  ></div>

  <div class="container text-center g-pos-rel g-z-index-1 g-py-100">
    <blockquote
      class="g-color-white g-font-family-merriweather g-font-size-30 g-font-size-40--md g-line-height-1_4 g-mb-50"
    >
      <span
        class="g-color-primary g-font-family-ptsans g-font-size-90 g-line-height-0_7 g-pos-rel g-top-30"
        >&#8220;</span
      >
      Make it done.
      <span
        class="g-color-primary g-font-family-ptsans g-font-size-90 g-line-height-0_7 g-pos-rel g-top-30"
        >&#8221;</span
      >
    </blockquote>
    <h4 class="g-color-white g-font-size-15 text-uppercase mb-1">
      <span
        class="d-inline-block align-middle g-width-40 g-height-2 g-bg-primary mr-3"
      ></span>
      Park sungjoon
    </h4>
  </div>
</div>
