{% load static %}

<div id="team-section" class="container g-py-100">
  <!-- Heading -->
  <div class="container">
    <!-- Heading -->
    <div class="g-max-width-550 text-center mx-auto g-mb-100">
      <h2
        class="text-uppercase g-color-main-light-v1 g-font-weight-600 g-font-size-13 g-letter-spacing-2 mb-4"
      >
        What are you waiting for?
      </h2>
      <h2 class="h3">
        Engage. Have fun. <br />Make others successful. <br />Our strongest
        asset is the power of “Team”.
      </h2>
    </div>
    <!-- End Heading -->

    <!-- Team Blocks -->
    <div class="row g-mx-minus-25 g-mb-40">
      <div class="col-6 col-lg-3 g-px-25 g-mb-50">
        <!-- Team -->
        <div class="text-center">
          <img
            class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5"
            src="{% static 'assets/img/profile/park.jpg' %}"
            alt="Image Description"
          />
          <h4 class="h5 g-font-weight-600 mb-1">Park Sungjoon</h4>
          <span class="d-block g-color-primary">Founder</span>
          <hr class="g-brd-gray-light-v4 g-my-15" />
          <a
            class="u-link-v5 g-color-text g-color-main--hover g-font-size-13"
            href="#"
            >parksj@burningb.com</a
          >
        </div>
        <!-- End Team -->
      </div>

      <div class="col-6 col-lg-3 g-px-25 g-mb-50">
        <!-- Team -->
        <div class="text-center">
          <img
            class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5"
            src="{% static 'assets/img/profile/seo.jpg' %}"
            alt="Image Description"
          />
          <h4 class="h5 g-font-weight-600 mb-1">Seo Seonguk</h4>
          <span class="d-block g-color-primary">Founder</span>
          <hr class="g-brd-gray-light-v4 g-my-15" />
          <a
            class="u-link-v5 g-color-text g-color-main--hover g-font-size-13"
            href="#"
            >su.seo@burningb.com</a
          >
        </div>
        <!-- End Team -->
      </div>

      <div class="col-6 col-lg-3 g-px-25 g-mb-50">
        <!-- Team -->
        <div class="text-center">
          <img
            class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5"
            src="{% static 'assets/img/profile/mike.jpg' %}"
            alt="Image Description"
          />
          <h4 class="h5 g-font-weight-600 mb-1">Mike, Phan Nhan</h4>
          <span class="d-block g-color-primary">Manager/MKT</span>
          <hr class="g-brd-gray-light-v4 g-my-15" />
          <a
            class="u-link-v5 g-color-text g-color-main--hover g-font-size-13"
            href="#"
            >mike.phan@burningb.com</a
          >
        </div>
        <!-- End Team -->
      </div>

      <div class="col-6 col-lg-3 g-px-25 g-mb-50">
        <!-- Team -->
        <div class="text-center">
          <img
            class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5"
            src="{% static 'assets/img/profile/binh.jpg' %}"
            alt="Image Description"
          />
          <h4 class="h5 g-font-weight-600 mb-1">Binh Bon</h4>
          <span class="d-block g-color-primary">Manager/MKT</span>
          <hr class="g-brd-gray-light-v4 g-my-15" />
          <a
            class="u-link-v5 g-color-text g-color-main--hover g-font-size-13"
            href="#"
            >binh.bon@burningb.com</a
          >
        </div>
        <!-- End Team -->
      </div>
    </div>
  </div>
  <!-- End Team Blocks-->
  {% include "component/gallery.html" %}
</div>
<!-- End Cube Portfolio Blocks - Content -->
