[flake8]
exclude =
  migrations,
  __pycache__,
  manage.py,
  settings,
  ic.py,
  ic_update.py,
  ic_video.py,
  ic_ranking.py,
  update.py,
  checking_list.py,
  shopee_c.py,
  crawling,
  static
max-line-length = 200
