<div id="core-value-section" class="g-overflow-hidden">
    <div class="container g-pt-100">
      <!-- Heading -->
<!-- Icon Blocks -->
<ul class="row list-inline u-info-v9-1 g-pb-70 mb-0">
  <li class="col-md-4 list-inline-item g-mx-0 g-mb-30">
    <!-- Icon Blocks -->
    <div class="u-block-hover text-center g-px-40">
      <div class="g-mb-5">
        <span
          class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle"
        >
          <i class="icon-transport-017 u-line-icon-pro"></i>
        </span>
      </div>
      <h3
        class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3"
      >
        Đánh giá sản phẩm
      </h3>
      <p>Hãy chia sẻ những đánh giá thực tế nhất của sản phẩm nhé</p>
    </div>
    <!-- End Icon Blocks -->
  </li>

  <li class="col-md-4 list-inline-item g-mx-0 g-mb-30">
    <!-- Icon Blocks -->
    <div class="u-block-hover text-center g-px-40">
      <div class="g-mb-5">
        <span
          class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle"
        >
          <i class="icon-education-073 u-line-icon-pro"></i>
        </span>
      </div>
      <h3
        class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3"
      >
        Bộ lọc style
      </h3>
      <p>Các bạn chỉ cần chọn những sản phẩm mình muốn thông qua bộ lọc style</p>
    </div>
    <!-- End Icon Blocks -->
  </li>

  <li class="col-md-4 list-inline-item g-mx-0 g-mb-30">
    <!-- Icon Blocks -->
    <div class="u-block-hover text-center g-px-40">
      <div class="g-mb-5">
        <span
          class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle"
        >
          <i class="icon-communication-180 u-line-icon-pro"></i>
        </span>
      </div>
      <h3
        class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3"
      >Chia sẻ style
      </h3>
      <p>Các bạn hãy chia sẻ phong cách cá tính của mình nhé</p>
    </div>
    <!-- End Icon Blocks -->
  </li>
</ul>
<!-- End Icon Blocks -->
</div>
</div>
</div>
<!-- End core-value -->