    <section class=" g-bg-pink">
      <div class="container">
        <div class="row">
          <div class="col-md-8 align-self-center text-center g-overflow-hidden g-mb-50--md g-mb-0--md">
            <img class="img-fluid w-75" src="https://post-phinf.pstatic.net/MjAxODA3MTlfMTIg/MDAxNTMxOTg5ODE5OTAw.edb-H-Rmhr2dFvKAqKA11flZ2k45cRi4Q4IaHirlMF4g.It6ziXN3vtf0R7B2p9DdwOy1hovG7aynuCPwAysStMcg.JPEG/jy180719b2.jpg?type=w1200" alt="Image Description" 
            {% comment %} data-animation="fadeInUp" data-animation-delay="0" data-animation-duration="1000" {% endcomment %}
            >
          </div>

          <div class="col-md-4 align-self-center">
            <div class="g-mb-30">
              <h2 class="h2 text-uppercase g-font-weight-600">Dabi đã trực tiếp chọn lựa những cửa hàng uy tín và chất lượng nhất</h2>
            </div>
            <div class="g-font-size-18 g-line-height-2 g-mb-30">
              <p>
Dabi tập hợp 150 cửa hàng hàng đầu cho thấy độ tin cậy cao. Hãy tin tưởng và đến mua sắm tại Dabi nhé!!                <strong>successful</strong> business on web and mobile.</p>
            </div>
          </div>
        </div>
      </div>
    </section>