{% load static %}

    <section class="g-bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-4 align-self-center g-mb-20 g-mb-0--md g-mt-20 g-mt-0--md">
            <div class="g-mb-20">
              <h2 class="g-font-size-22 text-uppercase g-font-weight-600">500 sản phẩm mới được cập nhật mỗi ngày</h2>
            </div>
            <div class="g-font-size-14">
              <p>Việc cập nhật liên tục các sản phẩm hằng ngày có thể giúp các bạn tận hưởng hết các xu hướng thời trang mới nhất một cách nhanh chóng và không hề nhàm chán
            </div>
          </div>
          <div class="col-md-8 align-self-center text-center g-overflow-hidden">
            <img class="img-fluid" height="540"
            src="{% static 'images/web_photo3_2x.png' %}" alt="Image Description" 
            {% comment %} data-animation="fadeInUp" data-animation-delay="0" data-animation-duration="1000" {% endcomment %}
            >
          </div>
        </div>
      </div>
    </section>