{% load static %}

    <section class="g-bg-main">
      <div class="container">
        <div class="row">


          <div class="col-md-push-8 col-md-4 align-self-center g-mb-20 g-mb-0--md g-mt-20 g-mt-0--md ">
            <div class="g-mb-20">
              <h2 class="g-font-size-22 text-uppercase g-font-weight-600">Nếu có bất kỳ thắc mắc nào về sản phẩm các bạn hãy đặt ngay câu hỏi cho tụi mình nhé!</h2>
            </div>
            <div class="g-font-size-14 g-color-main">
              <p>Để việc hỏi đáp được tối ưu hoá, các bạn chỉ cần “click chuột” đường link của sản phẩm sẽ được chia sẻ đến các bạn bằng phần mềm UX
            </div>
          </div>
          <div class="col-md-pull-4 col-md-8 align-self-center text-center g-overflow-hidden ">
            <img class="img-fluid" height="540"
            src="{% static 'images/web_photo4_2x.png' %}" alt="Image Description" 
            {% comment %} data-animation="fadeInUp" data-animation-delay="0" data-animation-duration="1000" {% endcomment %}
            >
          </div>
        </div>
      </div>
    </section>