{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>burningbros inc.</title>
    <meta property="og:url" content="https://www.wachu.shop/" />
    <meta property="og:title" content="burningbros." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'assets/img/cover.jpg' %}" />
    <meta
      property="og:description"
      content="We are burning, burningbros. inc."
    />
    <meta name="description" content="We are burning, burningbros. inc." />
    <meta name="keywords" content="burningbros,dabi,vietnamfashion" />

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}" />

    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|PT+Sans|Merriweather"
    />

    <!-- CSS Global Compulsory -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/icon-awesome/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/icon-line-pro/style.css' %}"
    />

    <!-- CSS Implementing Plugins -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/icon-awesome/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/icon-hs/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/dzsparallaxer/dzsscroller/scroller.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/dzsparallaxer/advancedscroller/plugin.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/slick-carousel/slick/slick.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/fancybox/jquery.fancybox.css' %}"
    />

    <!-- CSS Template -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/styles.op-consulting.css' %}"
    />

    <!-- Revolution Slider -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/revolution-slider/revolution/css/settings.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/revolution-slider/revolution/css/layers.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/revolution-slider/revolution/css/navigation.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/revolution-slider/revolution-addons/typewriter/css/typewriter.css' %}"
    />

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
  </head>

  <body id="home-section">
    <main>
      <!-- Header -->
      <header
        id="js-header"
        class="u-header u-header--sticky-top u-header--change-appearance u-header--change-logo"
        data-header-fix-moment="0"
      >
        <div
          class="u-header__section g-transition-0_3 g-py-7 g-py-23--md"
          data-header-fix-moment-exclude=" g-py-23--md"
          data-header-fix-moment-classes="u-shadow-v19 g-bg-white g-py-15--md"
        >
          <nav class="navbar navbar-expand-lg g-py-0">
            <div class="container g-pos-rel">
              <!-- Logo -->
              <a
                href="#"
                class="js-go-to navbar-brand u-header__logo"
                data-type="static"
              >
                <img
                  class="u-header__logo-img u-header__logo-img--main g-width-90"
                  src="{% static 'images/web_logo_2x.png' %}"
                  alt="Image description"
                />
                <img
                  class="u-header__logo-img g-width-90"
                  src="{% static 'images/web_logo_2x.png' %}"
                  alt="Image description"
                />
              </a>
              <!-- End Logo -->

              <!-- Navigation -->
              <div
                class="collapse navbar-collapse align-items-center flex-sm-row"
                id="navBar"
                data-mobile-scroll-hide="true"
              >
                <ul
                  id="js-scroll-nav"
                  class="navbar-nav text-uppercase g-letter-spacing-1 g-font-size-12 g-pt-20 g-pt-0--lg ml-auto"
                >
                  <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                    <a href="#home-section" class="nav-link p-0"
                      >Introduce<span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                    <a href="#core-value-section" class="nav-link p-0"
                      >service</a
                    >
                  </li>
                  <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                    <a href="#team-section" class="nav-link p-0">download</a>
                  </li>
                  <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                    <a href="#contact-section" class="nav-link p-0">contact</a>
                  </li>
                </ul>
              </div>
              <!-- End Navigation -->
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header -->

      {% block content %} {% endblock %}

      <!-- Contact -->
      <footer id="contact-section" class="g-pos-rel">
        <!-- Content -->
        <div
          class="g-bg-size-cover g-bg-img-hero u-bg-overlay g-bg-black-opacity-0_7--after g-pt-50 g-pb-50"
        >
          <div class="container u-bg-overlay__inner">
            <div class="row align-items-center">
              <div class="col-md-12 g-mb-10">
                <h3 class="h2 g-color-white mb-4">Burning bros.</h3>
                <div class="media align-items-center mb-4">
                  <div class="media-body">
                    <p class="g-color-white-opacity-0_6 mb-0">
                      30, Gosan 2-gil, Mapo-gu, Seoul, Republic of Korea<br />
                      159 Xa lộ Hà Nội, Thảo Điền, Quận 2, Hồ Chí Minh, Vietnam
                    </p>
                    <p class="g-color-white-opacity-0_6 mb-0">
                      Park, Sungjun / Seo, Seonguk | Mã số doanh nghiệp HQ : 337 87 01289
                    </p>
                    <p class="g-color-white-opacity-0_6 mb-0">
                     Tổng đài hỗ trợ: su.seo@burningb.com | +84 3370932001
                    </p>
                  </div>
                </div>
                          <p class="g-color-white-opacity-0_6 g-font-size-13 mb-0">
            &copy; 2020 Burningbros. All Rights Reserved.
          </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Copyright -->
      </footer>
      <!-- End Contact -->
    </main>

    <!-- JS Global Compulsory -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"
      integrity="sha256-ycJeXbll9m7dHKeaPbXBkZH8BuP99SmPm/8q5O+SbBc="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'assets/vendor/popper.js/popper.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'assets/vendor/appear.js' %}"></script>
    <script src="{% static 'assets/vendor/slick-carousel/slick/slick.js' %}"></script>
    <script src="{% static 'assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
    <script src="{% static 'assets/vendor/fancybox/jquery.fancybox.js' %}"></script>

    <!-- JS Unify -->
    <script src="{% static 'assets/js/hs.core.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.header.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.scroll-nav.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.counter.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.carousel.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.cubeportfolio.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.popup.js' %}"></script>
      <script src="{% static 'assets/js/components/hs.tabs.js' %}"></script>

      <script src="{% static 'assets/js/components/hs.onscroll-animation.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.go-to.js' %}"></script>

    <!-- JS Customization -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <!-- JS Plugins Init. -->
      <script>
    // initialization of slider revolution
      var tpj = jQuery,
        revapi26;

      $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>

  </body>
</html>
