{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>burningbros inc.</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|PT+Sans|Merriweather">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-line-pro/style.css' %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-hs/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/dzsscroller/scroller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/advancedscroller/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fancybox/jquery.fancybox.css' %}">

    <!-- CSS Template -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.op-consulting.css' %}">

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="{% static 'assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/revolution-slider/revolution/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/revolution-slider/revolution/css/layers.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/revolution-slider/revolution/css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/revolution-slider/revolution-addons/typewriter/css/typewriter.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  </head>

  <body id="home-section">
    <main>
      <!-- Header -->
      <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance u-header--change-logo"
              data-header-fix-moment="0">
        <div class="u-header__section g-transition-0_3 g-py-7 g-py-23--md"
             data-header-fix-moment-exclude=" g-py-23--md"
             data-header-fix-moment-classes="u-shadow-v19 g-bg-white g-py-15--md">
          <nav class="navbar navbar-expand-lg g-py-0">
            <div class="container g-pos-rel">
              <!-- Logo -->
              <a href="#" class="js-go-to navbar-brand u-header__logo"
                 data-type="static">
                <img class="u-header__logo-img u-header__logo-img--main g-width-90" src="{% static 'assets/img/logo.png' %}" alt="Image description">
                <img class="u-header__logo-img g-width-90" src="{% static 'assets/img/logo-dark.png' %}" alt="Image description">
              </a>
              <!-- End Logo -->

              <!-- Navigation -->
              <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar" data-mobile-scroll-hide="true">
                <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-letter-spacing-1 g-font-size-12 g-pt-20 g-pt-0--lg ml-auto">
                  <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                    <a href="#home-section" class="nav-link p-0">Vision<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                    <a href="#core-value-section" class="nav-link p-0">Core value</a>
                  </li>
                  <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                    <a href="#team-section" class="nav-link p-0">Team</a>
                  </li>
                  <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                    <a href="#contact-section" class="nav-link p-0">Contact</a>
                  </li>
                </ul>
              </div>
              <!-- End Navigation -->

            </div>
          </nav>
        </div>
      </header>
      <!-- End Header -->

      <!-- Revolution Slider -->
      <div class="g-overflow-hidden">
        <div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect" data-source="gallery" style="background-color:transparent;padding:0px;">
          <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
          <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
            <ul>  <!-- SLIDE  -->
              <li data-index="rs-2800" data-transition="curtain-1" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{% static 'assets/img/main-cover.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'assets/img/main-cover.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper "
                     id="slide-2800-layer-7"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                     data-width="full"
                     data-height="full"
                     data-whitespace="nowrap"

                     data-type="shape"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"speed":5000,"to":"opacity:0;","ease":"Power4.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>


                <!-- LAYER NR. 4 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                     id="slide-2800-layer-2"
                     data-x="['center','center','center','center']" data-hoffset="['-10','-10','-10','-10']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-40','-40']"
                     data-fontsize="['50','50','40','40']"
                     data-lineheight="['60','60','50','45']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"from":"y:50px;sX:1;sY:1;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 8; white-space: nowrap; font-weight: 800; color: rgba(255, 255, 255, 1.00);border-width:0px;">
Fashion Playground <br/>wachu

                </div>


                <!-- LAYER NR. 4 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                     id="slide-2800-layer-2"
                     data-x="['center','center','center','center']" data-hoffset="['-10','-10','-10','-10']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']"
                     data-fontsize="['30','30','25','20']"
                     data-lineheight="['50','50','50','50']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"from":"y:50px;sX:1;sY:1;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 8; white-space: nowrap; font-weight: 300; color: rgba(255, 255, 255, 1.00);border-width:0px;">
                     Make next generation of fashion commerce.

                </div>
              </li>
            </ul>
            <div class="tp-bannertimer" style="height: 2px; background-color: rgba(255, 255, 255, .5);"></div> </div>
          </div>
        </div>
      </div>
      <!-- End Revolution Slider -->

      <!-- core-value -->
      {% include "component/core_value.html" %}
      
      <!-- Quote -->
      {% include "component/quote.html" %}


      <!-- Cube Team Blocks - Content -->

      {% include "component/team.html" %}




      <!-- Contact -->
      <footer id="contact-section" class="g-pos-rel">
        <!-- Content -->
        <div class="g-bg-size-cover g-bg-img-hero u-bg-overlay g-bg-black-opacity-0_7--after g-pt-60 g-pb-40">
          <div class="container u-bg-overlay__inner">
            <div class="row align-items-center">
              <div class="col-md-4 g-mb-10">
                <h3 class="h4 g-color-white mb-4">Contact Info</h3>

                <!-- Icon Block -->
                <div class="media align-items-center mb-4">
                  <div class="d-flex">
                    <span class="u-icon-v1 u-icon-size--sm g-color-white mr-2">
                      <i class="icon-hotel-restaurant-235 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <p class="g-color-white-opacity-0_6 mb-0">30, Gosan 2-gil, Mapo-gu, Seoul, <br/>Republic of Korea
                      </p>
                  </div>
                </div>
                <!-- End Icon Block -->

                <!-- Icon Block -->
                <div class="media align-items-center mb-4">
                  <div class="d-flex">
                    <span class="u-icon-v1 u-icon-size--sm g-color-white mr-2">
                      <i class="icon-communication-033 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <p class="g-color-white-opacity-0_6 mb-0">+82 10 9919 6919</p>
                  </div>
                </div>
                <!-- End Icon Block -->

                <!-- Icon Block -->
                <div class="media align-items-center g-mb-60">
                  <div class="d-flex">
                    <span class="u-icon-v1 u-icon-size--sm g-color-white mr-2">
                      <i class="icon-communication-062 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <p class="g-color-white-opacity-0_6 mb-0">su.seo@burningb.com</p>
                  </div>
                </div>
                <!-- End Icon Block -->


              </div>

            </div>
          </div>
        </div>
        <!-- End Content -->

        <!-- Go To Top -->
        <a class="js-go-to text-center g-color-main g-color-primary--hover g-left-50x g-ml-minus-100" href="#"
           data-type="absolute"
           data-position='{
             "bottom": 65
           }'
           data-offset-top="400"
           data-compensation="#js-header"
           data-show-effect="fadeInUp">
          <svg version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="208px" height="50px">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M111.042,0h-0.085C81.962,0.042,50.96,42.999,6,42.999c-6,0-6,0-6,0v1h214v-1v-0.015C169.917,42.349,139.492,0.042,111.042,0z"/>
          </svg>
          <i class="g-font-size-20 g-pos-abs g-bottom-20 g-left-50x g-ml-2 fa fa-angle-double-up"></i>
        </a>
        <!-- End Go To Top -->

        <!-- Copyright -->
        <div class="container text-center g-py-30">
          <p class="g-font-size-13 mb-0">&copy; 2019 Burningbros. All Rights Reserved.</p>
        </div>
        <!-- End Copyright -->
      </footer>
      <!-- End Contact -->
    </main>

    <!-- JS Global Compulsory -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"
    integrity="sha256-ycJeXbll9m7dHKeaPbXBkZH8BuP99SmPm/8q5O+SbBc="
    crossorigin="anonymous"></script>    
    <script src="{% static 'assets/vendor/popper.js/popper.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'assets/vendor/appear.js' %}"></script>
    <script src="{% static 'assets/vendor/slick-carousel/slick/slick.js' %}"></script>
    <script src="{% static 'assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
    <script src="{% static 'assets/vendor/fancybox/jquery.fancybox.js' %}"></script>

    <!-- JS Unify -->
    <script src="{% static 'assets/js/hs.core.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.header.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.scroll-nav.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.counter.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.carousel.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.cubeportfolio.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.popup.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.go-to.js' %}"></script>

    <!-- JS Revolution Slider -->
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

    <script src="{% static 'assets/vendor/revolution-slider/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js' %}"></script>

    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>

    <!-- JS Customization -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');
      });

      $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700
        });

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');
      });

      var tpj = jQuery;

      var revapi1014;
      tpj(document).ready(function () {
        if (tpj("#rev_slider_1014_1").revolution == undefined) {
          revslider_showDoubleJqueryError("#rev_slider_1014_1");
        } else {
          revapi1014 = tpj("#rev_slider_1014_1").show().revolution({
            sliderType: "standard",
            jsFileLocation: "revolution/js/",
            sliderLayout: "fullscreen",
            dottedOverlay: "none",
            delay: 9000,
            navigation: {
              keyboardNavigation: "off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation: "off",
              mouseScrollReverse: "default",
              onHoverStop: "off",
              touch: {
                touchenabled: "on",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              },

            },
            responsiveLevels:[1240,1024,778,778],
            gridwidth:[1240,1024,778,480],
            gridheight:[600,500,400,300],
            lazyType: 'smart',
            scrolleffect: {
              fade: "on",
              grayscale: "on",
              on_slidebg: "on",
              on_parallax_layers: "on",
              direction: "top",
              multiplicator_layers: "1.4",
              tilt: "10",
              disable_on_mobile: "off",
            },
            parallax: {
              type: "scroll",
              origo: "slidercenter",
              speed: 400,
              levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
            },
            shadow: 0,
            spinner: "off",
            stopLoop: 'off',
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            fullScreenAutoWidth: "off",
            fullScreenAlignForce: "off",
            fullScreenOffsetContainer: "",
            fullScreenOffset: "0px",
            hideThumbsOnMobile: "off",
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            debugMode: false,
            fallbacks: {
              simplifyAll: "off",
              nextSlideOnWindowFocus: "off",
              disableFocusListener: false,
            }
          });
        }

        RsTypewriterAddOn(tpj, revapi1014);
      });
    </script>
  </body>
</html>
